<form method="get" action="$contextPath/$mapURI">
<fieldset>
<legend>Mapper</legend>
<p><label for="$URI">Input URI</label>
<input type="text\" id="$URI" name="$URI" style="width:80%"/></p>
<p>$lensURI<select name="$lensURI">
#foreach( $lens in $lenses)
<option value="$lens.toUri($context)">$lens.getName()</option>
#end
</select>
<p><input type="submit" value="Submit"/></p>
<p>Note: If the new page does not open click on the address bar and press enter</p>
</fieldset></form>