<p>Welcome to the Identity Mapping Service. </p>
<p>A List of which mappings we current have can be found at <a href="$contextPath/$getMappingInfo">Mapping Info Page</a></p>
<form method="get" action="$contextPath/$mapURI">
    <fieldset>
        <legend>Mapper</legend>
        <p>
            <label for="$URI">Input URI</label>
            <input type="text\" id="$URI" name="$URI" style="width:80%"/>
        </p>
        <p>$lensURI
			<select name="$lensURI">
                #foreach( $lens in $lenses)
                    <option value="$lens.toUri($context)">$lens.getName()</option>
                #end
			</select>
        <p>
        <p>
            $targetUriPattern (If none is selected results will not be filtered by TargetUri)
        	<select multiple name="$targetUriPattern" id="pattern" width="600" style="width: 600px" onchange="count(this)"></select>
        	Number of patterns selected: <label id="countSelected">0</label> out of <label id="countAll">0</label>
        <p>
            <input type="submit" value="Submit"/>
        </p>
        <p>Note: If the new page does not open click on the address bar and press enter</p>
	</fieldset>
</form>
<h2>Form Filters</h2>
Use this section to filter the values offered in the Mapper
<p>
    $targetUriPattern Filter <input type="text" id="filter" name="Pattern Filter" value="" onkeyup="populate(this)">
    <button onclick="pickAll()">Select all showing</button><button onclick="pickNone()">Select none</button>
</p>
<h2>Usage Information</h2>
<p>The Main OPS method are: 
    <ul>
        <dt>
            <a href="$contextPath/$api/#$mapURI">$mapURI</a>
            <dt>
                <dd>List the URIs that map to this/these URI(s)</dd>
                <dt>
                    <a href="$contextPath/$api/#$map">$map</a>
                    <dt>
                        <dd>List the full Mappings to this URI/Xref</dd>
					</dt>
				</dt>
			</dt>
	</ul>
<p>
    <a href="$contextPath/$api">API Page</a>
</p>

