		var mitems=new Array('ftp://ftp.cmbi.ru.nl/pub/molbio/data/hssp/$id.hssp.bz2',
		'ftp://ftp.ebi.ac.uk/pub/databases/lrgex/$id.xml',
		'ftp://ftp.embl-heidelberg.de/pub/databases/protein_extras/hssp/$id.hssp.bz2',
		'http://2dbase.techfak.uni-bielefeld.de/cgi-bin/2d/2d.cgi?ac=$id',
		'http://aclame.ulb.ac.be/perl/Aclame/Genomes/mge_view.cgi?view=info&id=$id',
		'http://aers.data2semantics.org/resource/drug/$id',
		'http://agd.vital-it.ch/Ashbya_gossypii/geneview?gene=$id',
		'http://amigo.geneontology.org/cgi-bin/amigo/term_details?term=GO:$id',
		'http://amoebadb.org/amoeba/showRecord.do?name=GeneRecordClasses.GeneRecordClass&source_id=$id',
		'http://antirrhinum.net/cgi-bin/ace/generic/tree/DragonDB?name=$id%3Bclass%3DDNA',
		'http://antirrhinum.net/cgi-bin/ace/generic/tree/DragonDB?name=$id%3Bclass%3DPeptide',
		'http://antirrhinum.net/cgi-bin/ace/generic/tree/DragonDB?name=$id&amp%3Bclass=Allele',
		'http://antirrhinum.net/cgi-bin/ace/generic/tree/DragonDB?name=$id&amp%3Bclass=Locus',
		'http://apps.who.int/classifications/icd10/browse/2010/en#/$id',
		'http://aps.unmc.edu/AP/database/query_output.php?ID=$id',
		'http://arabidopsis.info/StockInfo?NASC_id=$id',
		'http://arabidopsis.org/servlets/TairObject?accession=$id',
		'http://arabidopsis.org/servlets/TairObject?type=locus&name=$id',
		'http://arxiv.org/abs/$id',
		'http://asap.ahabs.wisc.edu/asap/feature_info.php?LocationID=WIS&FeatureID=$id',
		'http://asia.ensembl.org/id/$id',
		'http://autism.mindspec.org/GeneDetail/$id',
		'http://bacmap.wishartlab.com/maps/$id/index.html',
		'http://bacmap.wishartlab.com/organisms/$id',
		'http://bacteria.ensembl.org/Bacillus/B_subtilis/Gene/Summary?g=$id',
		'http://bacteria.ensembl.org/Escherichia_Shigella/E_coli_K12/Gene/Summary?g=$id',
		'http://bacteria.ensembl.org/Mycobacterium/M_tuberculosis_H37Rv/Gene/Summary?g=$id',
		'http://bacteria.ensembl.org/id/$id',
		'http://beetlebase.org/cgi-bin/gbrowse/BeetleBase3.gff3/?name=$id',
		'http://bgee.unil.ch/bgee/bgee?page=anatomy&action=organ_details&organ_id=$id&organ_children=on',
		'http://bgee.unil.ch/bgee/bgee?page=anatomy&action=organs&stage_id=$id&stage_children=on',
		'http://bgee.unil.ch/bgee/bgee?page=gene&action=summary&gene_id=$id',
		'http://bgee.unil.ch/bgee/bgee?page=gene_family&action=family_details&gene_family_id=$id',
		'http://bidd.nus.edu.sg/group/cjttd/ZFTTDDRUG.asp?ID=$id',
		'http://bidd.nus.edu.sg/group/cjttd/ZFTTDDetail.asp?ID=$id',
		'http://bio2rdf.org/affymetrix:$id',
		'http://bio2rdf.org/bind:$id',
		'http://bio2rdf.org/biocyc:$id',
		'http://bio2rdf.org/biomodels:$id',
		'http://bio2rdf.org/chebi:$id',
		'http://bio2rdf.org/cpd:$id',
		'http://bio2rdf.org/dr:$id',
		'http://bio2rdf.org/drugbank:$id',
		'http://bio2rdf.org/ec:$id',
		'http://bio2rdf.org/ensembl:$id',
		'http://bio2rdf.org/genbank:$id',
		'http://bio2rdf.org/geneid:$id',
		'http://bio2rdf.org/gl:$id',
		'http://bio2rdf.org/goa:$id',
		'http://bio2rdf.org/hgnc:$id',
		'http://bio2rdf.org/homologen:$id',
		'http://bio2rdf.org/interpro:$id',
		'http://bio2rdf.org/ipi:$id',
		'http://bio2rdf.org/mesh:$id',
		'http://bio2rdf.org/omim:$id',
		'http://bio2rdf.org/path:$id',
		'http://bio2rdf.org/rn:$id',
		'http://bio2rdf.org/uniprot:$id',
		'http://biocyc.org/getid?id=$id',
		'http://bioinfo.iitk.ac.in/MIPModDB/result.php?code=$id',
		'http://bioinformatics.istge.it/hypercldb/$id.html',
		'http://bioinformatics.mdanderson.org/genecards/cgi-bin/carddisp.pl?gene=$id',
		'http://biomodels.caltech.edu/$id',
		'http://bioportal.bioontology.org/ontologies/$id',
		'http://bioportal.bioontology.org/ontologies/1041?p=terms&conceptid=$id',
		'http://bioportal.bioontology.org/ontologies/1351?p=terms&conceptid=$id',
		'http://bioportal.bioontology.org/ontologies/1507?p=terms&conceptid=$id',
		'http://bitterdb.agri.huji.ac.il/bitterdb/Receptor.php?id=$id',
		'http://bitterdb.agri.huji.ac.il/bitterdb/compound.php?id=$id',
		'http://bugs.sgul.ac.uk/bugsbase/tabs/experiment.php?expt_id=$id&action=view',
		'http://bugs.sgul.ac.uk/bugsbase/tabs/protocol.php?protocol_id=$id&amp%3Baction=view',
		'http://bykdb.ibcp.fr/data/html/annotated/$id.html',
		'http://cactus.nci.nih.gov/chemical/structure/$id/names',
		'http://caps.ncbs.res.in/pass2/superfamily/superfamilydetail.php?superfamilyId=$id',
		'http://catalog.loc.gov/cgi-bin/Pwebrecon.cgi?Search_Arg=0745-4570$id&PID=le0kCQllk84KcxI3gMhUTowLMnn9H',
		'http://cbg.garvan.unsw.edu.au/pina/interactome.oneP.do?ac=$id&showExtend=null',
		'http://ccr.coriell.org/Sections/Search/Sample_Detail.aspx?Ref=$id',
		'http://cdb.ics.uci.edu/cgibin/ChemicalDetailWeb.py?chemical_id=$id',
		'http://cegg.unige.ch/orthodb/results?searchtext=$id',
		'http://cellimagelibrary.org/images/$id',
		'http://cerevisiae.oridb.org/details.php?id=$id',
		'http://cgsc.biology.yale.edu/Strain.php?ID=$id',
		'http://chem.sis.nlm.nih.gov/chemidplus/direct.jsp?regno=$id',
		'http://chem2bio2rdf.org/chembl/resource/chembl_compounds/$id',
		'http://chem2bio2rdf.org/chembl/resource/chembl_targets/$id',
		'http://chembank.broadinstitute.org/chemistry/viewMolecule.htm?cbid=$id',
		'http://ciliate.org/index.php/feature/details/$id',
		'http://clinicaltrials.gov/ct2/show/$id',
		'http://clipserve.clip.ubc.ca/topfind/proteins/$id',
		'http://cmr.jcvi.org/cgi-bin/CMR/shared/GenePage.cgi?locus=$id',
		'http://cmr.jcvi.org/tigr-scripts/CMR/shared/GenomePropDefinition.cgi?prop_acc=$id',
		'http://co.mbine.org/specifications/$id',
		'http://comgen.pl/mirex/?page=results%2Frecord&name=$id&web_temp=1683440&exref=pp2a&limit=yes',
		'http://commonchemistry.org/ChemicalDetail.aspx?ref=$id',
		'http://compluyeast2dpage.dacya.ucm.es/cgi-bin/2d/2d.cgi?ac=$id',
		'http://crdd.osdd.net/servers/virsirnadb/record.php?details=$id',
		'http://cryptodb.org/cryptodb/showRecord.do?name=GeneRecordClasses.GeneRecordClass&source_id=$id',
		'http://csbl1.bmb.uga.edu/OperonDB/genedetail.php?id=$id',
		'http://ctdbase.org/basicQuery.go?bqCat=gene&bq=$id',
		'http://ctdbase.org/detail.go?type=chem&acc=$id',
		'http://ctdbase.org/detail.go?type=disease&db=MESH&acc=$id',
		'http://ctdbase.org/detail.go?type=gene&acc=$id',
		'http://cutdb.burnham.org/relation/show/$id',
		'http://dailymed.nlm.nih.gov/dailymed/lookup.cfm?setid=$id',
		'http://darcsite.genzentrum.lmu.de/darc/view.php?id=$id',
		'http://data.kasabi.com/dataset/chembl-rdf/chemblid/$id',
		'http://data.kasabi.com/dataset/chembl-rdf/molecule/m$id',
		'http://data.kasabi.com/dataset/chembl-rdf/target/t$id',
		'http://datf.cbi.pku.edu.cn/entry-display.php?id=$id',
		'http://db-mml.sjtu.edu.cn/ICEberg/browse_result.php?type=fam&fam_id=$id',
		'http://db-mml.sjtu.edu.cn/ICEberg/feature_page.php?ice_id=$id',
		'http://dbpedia.org/page/$id',
		'http://dbpedia.org/resource/$id',
		'http://degradome.uniovi.es/cgi-bin/protease/$id',
		'http://diana.cslab.ece.ntua.gr/DianaToolsNew/index.php?r=tarbase%2Findex&mirnas=$id',
		'http://dictybase.org/db/cgi-bin/feature_page.pl?primary_id=$id',
		'http://dictybase.org/gene/$id',
		'http://dip.doe-mbi.ucla.edu/dip/DIPview.cgi?ID=$id',
		'http://disease-ontology.org/term/$id',
		'http://doqcs.ncbs.res.in/template.php?y=accessiondetails&an=$id',
		'http://doqcs.ncbs.res.in/template.php?y=pathwaydetails&pn=$id',
		'http://dx.doi.org/$id',
		'http://ecocyc.org/ECOLI/NEW-IMAGE?type=NIL&object=$id',
		'http://ecogene.org/?q=gene%2F$id',
		'http://ecogene.org/geneInfo.php?eg_id=$id',
		'http://ecoliwiki.net/colipedia/index.php/$id:Gene',
		'http://eggnog.embl.de/version_3.0/cgi/search.py?search_term_0=$id',
		'http://elm.eu.org/elms/elmPages/$id.html',
		'http://en.wikipedia.org/wiki/$id',
		'http://enzyme.expasy.org/EC/$id',
		'http://epd.vital-it.ch/cgi-bin/query_result.pl?out_format=NICE&Entry_0=$id',
		'http://epsf.bmad.bii.a-star.edu.sg/cube/db/data/$id/',
		'http://euhcvdb.ibcp.fr/euHCVdb/do/displayHCVEntry?primaryAC=$id',
		'http://europe.omim.org/entry/$id',
		'http://europepmc.org/abstract/MED/$id',
		'http://europepmc.org/articles/$id',
		'http://flybase.org/reports/$id.html',
		'http://flypush.imgen.bcm.tmc.edu/pscreen/details.php?line=$id',
		'http://flystocks.bio.indiana.edu/Reports/$id.html',
		'http://func.mshri.on.ca/fly/genes/list_functional_scores/$id',
		'http://func.mshri.on.ca/human/genes/list_functional_scores/$id',
		'http://func.mshri.on.ca/mouse/genes/list_functional_scores/$id',
		'http://func.mshri.on.ca/yeast/genes/list_functional_scores/$id',
		'http://fungi.ensembl.org/id/$id',
		'http://fungidb.org/gene/$id',
		'http://gabi.rzpd.de/database/cgi-bin/GreenCards.pl.cgi?BioObjectId=$id&Mode=ShowBioObject',
		'http://genatlas.medecine.univ-paris5.fr/fiche.php?symbol=$id',
		'http://genecards.bioinformatics.nl/cgi-bin/carddisp.pl?gene=$id',
		'http://genecards_v3.hgc.jp/cgi-bin/carddisp.pl?gene=$id',
		'http://genius.embnet.dkfz-heidelberg.de/menu/cgi-bin/srs7.1.3.1/wgetz?-id+4ktAl1fNMTA+-e+%5BIMGT%3A%27$id%27%5D',
		'http://genolist.pasteur.fr/SubtiList/genome.cgi?external_query+$id',
		'http://genome.crg.es/datasets/abs2005/entries/$id.html',
		'http://genome.ucsc.edu/cgi-bin/hgTracks?position=$id',
		'http://genomesonline.org/cgi-bin/GOLD/bin/GOLDCards.cgi?goldstamp=$id',
		'http://getentry.ddbj.nig.ac.jp/getentry?database=ddbj&accession_number=$id',
		'http://giardiadb.org/giardiadb/showRecord.do?name=GeneRecordClasses.GeneRecordClass&source_id=$id',
		'http://gmd.mpimp-golm.mpg.de/Analytes/$id',
		'http://gmd.mpimp-golm.mpg.de/Metabolites/$id.aspx',
		'http://gmd.mpimp-golm.mpg.de/ReferenceSubstances/$id',
		'http://gmd.mpimp-golm.mpg.de/Spectrums/$id',
		'http://gmd.mpimp-golm.mpg.de/profile/default.aspx?XemlId=$id',
		'http://greengenes.lbl.gov/cgi-bin/show_one_record_v2.pl?prokMSA_id=$id',
		'http://h-invitational.jp/hinv/protein/protein_view.cgi?hip_id=$id',
		'http://h-invitational.jp/hinv/spsoup/locus_view?hix_id=$id',
		'http://h-invitational.jp/hinv/spsoup/transcript_view?hit_id=$id',
		'http://hamap.expasy.org/unirule/$id',
		'http://hdl.handle.net/$id',
		'http://identifiers.org/2d-page.protein/$id',
		'http://identifiers.org/3dmet/$id',
		'http://identifiers.org/abs/$id',
		'http://identifiers.org/aceview.worm/$id',
		'http://identifiers.org/aclame/$id',
		'http://identifiers.org/affy.probeset/$id',
		'http://identifiers.org/aftol.taxonomy/$id',
		'http://identifiers.org/agd/$id',
		'http://identifiers.org/allergome/$id',
		'http://identifiers.org/amoebadb/$id',
		'http://identifiers.org/antweb/$id',
		'http://identifiers.org/apd/$id',
		'http://identifiers.org/aphidbase.transcript/$id',
		'http://identifiers.org/arachnoserver/$id',
		'http://identifiers.org/arrayexpress.platform/$id',
		'http://identifiers.org/arrayexpress/$id',
		'http://identifiers.org/arxiv/$id',
		'http://identifiers.org/asap/$id',
		'http://identifiers.org/aspgd.locus/$id',
		'http://identifiers.org/aspgd.protein/$id',
		'http://identifiers.org/atc/$id',
		'http://identifiers.org/atcc/$id',
		'http://identifiers.org/atcvet/$id',
		'http://identifiers.org/atfdb.family/$id',
		'http://identifiers.org/autdb/$id',
		'http://identifiers.org/bacmap.biog/$id',
		'http://identifiers.org/bacmap.map/$id',
		'http://identifiers.org/bdgp.est/$id',
		'http://identifiers.org/bdgp.insertion/$id',
		'http://identifiers.org/beetlebase/$id',
		'http://identifiers.org/bgee.family/$id',
		'http://identifiers.org/bgee.gene/$id',
		'http://identifiers.org/bgee.organ/$id',
		'http://identifiers.org/bgee.stage/$id',
		'http://identifiers.org/bind/$id',
		'http://identifiers.org/bindingDB/$id',
		'http://identifiers.org/biocarta.pathway/$id',
		'http://identifiers.org/biocatalogue.service/$id',
		'http://identifiers.org/biocyc/$id',
		'http://identifiers.org/biogrid/$id',
		'http://identifiers.org/biomodels.db/$id',
		'http://identifiers.org/biomodels.kisao/$id',
		'http://identifiers.org/biomodels.sbo/$id',
		'http://identifiers.org/biomodels.teddy/$id',
		'http://identifiers.org/bionumbers/$id',
		'http://identifiers.org/bioportal/$id',
		'http://identifiers.org/bioproject/$id',
		'http://identifiers.org/biosample/$id',
		'http://identifiers.org/biosharing/$id',
		'http://identifiers.org/biosystems/$id',
		'http://identifiers.org/bitterdb.cpd/$id',
		'http://identifiers.org/bitterdb.rec/$id',
		'http://identifiers.org/bold.taxonomy/$id',
		'http://identifiers.org/brenda/$id',
		'http://identifiers.org/broad/$id',
		'http://identifiers.org/bto/$id',
		'http://identifiers.org/bugbase.expt/$id',
		'http://identifiers.org/bugbase.protocol/$id',
		'http://identifiers.org/bykdb/$id',
		'http://identifiers.org/cabri/$id',
		'http://identifiers.org/caps/$id',
		'http://identifiers.org/cas/$id',
		'http://identifiers.org/cath.domain/$id',
		'http://identifiers.org/cath.superfamily/$id',
		'http://identifiers.org/cazy/$id',
		'http://identifiers.org/ccds/$id',
		'http://identifiers.org/cco/$id',
		'http://identifiers.org/cdd/$id',
		'http://identifiers.org/cdpd/$id',
		'http://identifiers.org/cellimage/$id',
		'http://identifiers.org/cgd/$id',
		'http://identifiers.org/cgsc/$id',
		'http://identifiers.org/charprot/$id',
		'http://identifiers.org/chebi/CHEBI:$id',
		'http://identifiers.org/chembank/$id',
		'http://identifiers.org/chembl.compound/$id',
		'http://identifiers.org/chembl.target/$id',
		'http://identifiers.org/chemdb/$id',
		'http://identifiers.org/chemidplus/$id',
		'http://identifiers.org/chemspider/$id',
		'http://identifiers.org/cl/$id',
		'http://identifiers.org/cldb/$id',
		'http://identifiers.org/clinicaltrials/$id',
		'http://identifiers.org/clustr/$id',
		'http://identifiers.org/cmr.gene/$id',
		'http://identifiers.org/cogs.function/$id',
		'http://identifiers.org/cogs/$id',
		'http://identifiers.org/combine.specifications/$id',
		'http://identifiers.org/compulyeast/$id',
		'http://identifiers.org/conoserver/$id',
		'http://identifiers.org/coriell/$id',
		'http://identifiers.org/corum/$id',
		'http://identifiers.org/cryptodb/$id',
		'http://identifiers.org/csa/$id',
		'http://identifiers.org/cst.ab/$id',
		'http://identifiers.org/cst/$id',
		'http://identifiers.org/ctd.chemical/$id',
		'http://identifiers.org/ctd.disease/$id',
		'http://identifiers.org/ctd.gene/$id',
		'http://identifiers.org/cubedb/$id',
		'http://identifiers.org/cygd/$id',
		'http://identifiers.org/dailymed/$id',
		'http://identifiers.org/darc/$id',
		'http://identifiers.org/datf/$id',
		'http://identifiers.org/dbd/$id',
		'http://identifiers.org/dbest/$id',
		'http://identifiers.org/dbg2introns/$id',
		'http://identifiers.org/dbprobe/$id',
		'http://identifiers.org/dbsnp/$id',
		'http://identifiers.org/degradome/$id',
		'http://identifiers.org/depod/$id',
		'http://identifiers.org/dictybase.est/$id',
		'http://identifiers.org/dictybase.gene/$id',
		'http://identifiers.org/dip/$id',
		'http://identifiers.org/disprot/$id',
		'http://identifiers.org/doi/$id',
		'http://identifiers.org/doid/$id',
		'http://identifiers.org/dommino/$id',
		'http://identifiers.org/door/$id',
		'http://identifiers.org/doqcs.model/$id',
		'http://identifiers.org/doqcs.pathway/$id',
		'http://identifiers.org/dpv/$id',
		'http://identifiers.org/dragondb.allele/$id',
		'http://identifiers.org/dragondb.dna/$id',
		'http://identifiers.org/dragondb.locus/$id',
		'http://identifiers.org/dragondb.protein/$id',
		'http://identifiers.org/drsc/$id',
		'http://identifiers.org/drugbank.target/$id',
		'http://identifiers.org/drugbank/$id',
		'http://identifiers.org/ec-code/$id',
		'http://identifiers.org/echobase/$id',
		'http://identifiers.org/eco/$id',
		'http://identifiers.org/ecogene/$id',
		'http://identifiers.org/ecoliwiki/$id',
		'http://identifiers.org/edam/$id',
		'http://identifiers.org/efo/$id',
		'http://identifiers.org/eggnog/$id',
		'http://identifiers.org/elm/$id',
		'http://identifiers.org/ena.embl/$id',
		'http://identifiers.org/ensembl.bacteria/$id',
		'http://identifiers.org/ensembl.fungi/$id',
		'http://identifiers.org/ensembl.metazoa/$id',
		'http://identifiers.org/ensembl.plant/$id',
		'http://identifiers.org/ensembl.protist/$id',
		'http://identifiers.org/ensembl/$id',
		'http://identifiers.org/epd/$id',
		'http://identifiers.org/fbol/$id',
		'http://identifiers.org/flybase/$id',
		'http://identifiers.org/flystock/$id',
		'http://identifiers.org/fma/$id',
		'http://identifiers.org/funcat/$id',
		'http://identifiers.org/funcbase.fly/$id',
		'http://identifiers.org/funcbase.human/$id',
		'http://identifiers.org/funcbase.mouse/$id',
		'http://identifiers.org/funcbase.yeast/$id',
		'http://identifiers.org/fungidb/$id',
		'http://identifiers.org/gabi/$id',
		'http://identifiers.org/genatlas/$id',
		'http://identifiers.org/genecards/$id',
		'http://identifiers.org/genedb/$id',
		'http://identifiers.org/genefarm/$id',
		'http://identifiers.org/genetree/$id',
		'http://identifiers.org/genewiki/$id',
		'http://identifiers.org/genpept/$id',
		'http://identifiers.org/genprop/$id',
		'http://identifiers.org/geo/$id',
		'http://identifiers.org/giardiadb/$id',
		'http://identifiers.org/glycoepitope/$id',
		'http://identifiers.org/glycomedb/$id',
		'http://identifiers.org/gmd.analyte/$id',
		'http://identifiers.org/gmd.gcms/$id',
		'http://identifiers.org/gmd.profile/$id',
		'http://identifiers.org/gmd.ref/$id',
		'http://identifiers.org/gmd/$id',
		'http://identifiers.org/go.ref/$id',
		'http://identifiers.org/go/GO:$id',
		'http://identifiers.org/goa/$id',
		'http://identifiers.org/gold.genome/$id',
		'http://identifiers.org/gold.meta/$id',
		'http://identifiers.org/gpcrdb/$id',
		'http://identifiers.org/gramene.gene/$id',
		'http://identifiers.org/gramene.protein/$id',
		'http://identifiers.org/gramene.qtl/$id',
		'http://identifiers.org/gramene.taxonomy/$id',
		'http://identifiers.org/greengenes/$id',
		'http://identifiers.org/grin.taxonomy/$id',
		'http://identifiers.org/gxa.expt/$id',
		'http://identifiers.org/gxa.gene/$id',
		'http://identifiers.org/hamap/$id',
		'http://identifiers.org/hcvdb/$id',
		'http://identifiers.org/hgmd/$id',
		'http://identifiers.org/hgnc.symbol/$id',
		'http://identifiers.org/hgnc/$id',
		'http://identifiers.org/hinv.locus/$id',
		'http://identifiers.org/hinv.protein/$id',
		'http://identifiers.org/hinv.transcript/$id',
		'http://identifiers.org/hmdb/$id',
		'http://identifiers.org/hogenom/$id',
		'http://identifiers.org/homd.seq/$id',
		'http://identifiers.org/homd.taxon/$id',
		'http://identifiers.org/homologene/$id',
		'http://identifiers.org/hovergen/$id',
		'http://identifiers.org/hpa/$id',
		'http://identifiers.org/hprd/$id',
		'http://identifiers.org/hssp/$id',
		'http://identifiers.org/huge/$id',
		'http://identifiers.org/icd/$id',
		'http://identifiers.org/iceberg.element/$id',
		'http://identifiers.org/iceberg.family/$id',
		'http://identifiers.org/ideal/$id',
		'http://identifiers.org/imex/$id',
		'http://identifiers.org/img.gene/$id',
		'http://identifiers.org/img.taxon/$id',
		'http://identifiers.org/imgt.hla/$id',
		'http://identifiers.org/imgt.ligm/$id',
		'http://identifiers.org/inchi/$id',
		'http://identifiers.org/inchikey/$id',
		'http://identifiers.org/insdc.sra/$id',
		'http://identifiers.org/insdc/$id',
		'http://identifiers.org/intact.molecule/$id',
		'http://identifiers.org/intact/$id',
		'http://identifiers.org/interpro/$id',
		'http://identifiers.org/ipi/$id',
		'http://identifiers.org/ird.segment/$id',
		'http://identifiers.org/irefweb/$id',
		'http://identifiers.org/isbn/$id',
		'http://identifiers.org/isfinder/$id',
		'http://identifiers.org/issn/$id',
		'http://identifiers.org/iuphar.family/$id',
		'http://identifiers.org/iuphar.ligand/$id',
		'http://identifiers.org/iuphar.receptor/$id',
		'http://identifiers.org/jaxmice/$id',
		'http://identifiers.org/jcggdb/$id',
		'http://identifiers.org/jcm/$id',
		'http://identifiers.org/jcsd/$id',
		'http://identifiers.org/jstor/$id',
		'http://identifiers.org/jws/$id',
		'http://identifiers.org/kegg.compound/$id',
		'http://identifiers.org/kegg.disease/$id',
		'http://identifiers.org/kegg.drug/$id',
		'http://identifiers.org/kegg.environ/$id',
		'http://identifiers.org/kegg.genes/$id',
		'http://identifiers.org/kegg.genome/$id',
		'http://identifiers.org/kegg.glycan/$id',
		'http://identifiers.org/kegg.metagenome/$id',
		'http://identifiers.org/kegg.module/$id',
		'http://identifiers.org/kegg.orthology/$id',
		'http://identifiers.org/kegg.pathway/$id',
		'http://identifiers.org/kegg.reaction/$id',
		'http://identifiers.org/knapsack/$id',
		'http://identifiers.org/lgic/$id',
		'http://identifiers.org/ligandbox/$id',
		'http://identifiers.org/ligandexpo/$id',
		'http://identifiers.org/lipidbank/$id',
		'http://identifiers.org/lipidmaps/$id',
		'http://identifiers.org/lrg/$id',
		'http://identifiers.org/ma/$id',
		'http://identifiers.org/macie/$id',
		'http://identifiers.org/maizegdb.locus/$id',
		'http://identifiers.org/massbank/$id',
		'http://identifiers.org/matrixdb.association/$id',
		'http://identifiers.org/medlineplus/$id',
		'http://identifiers.org/merops.family/$id',
		'http://identifiers.org/merops/$id',
		'http://identifiers.org/mesh.2012/$id',
		'http://identifiers.org/mesh.2013/$id',
		'http://identifiers.org/mesh/$id',
		'http://identifiers.org/metabolights/$id',
		'http://identifiers.org/metlin/$id',
		'http://identifiers.org/mgd/MGI:$id',
		'http://identifiers.org/microsporidia/$id',
		'http://identifiers.org/mimodb/$id',
		'http://identifiers.org/mint/$id',
		'http://identifiers.org/mipmod/$id',
		'http://identifiers.org/mirbase.mature/$id',
		'http://identifiers.org/mirbase/$id',
		'http://identifiers.org/mirex/$id',
		'http://identifiers.org/miriam.collection/$id',
		'http://identifiers.org/miriam.resource/$id',
		'http://identifiers.org/mirnest/$id',
		'http://identifiers.org/mmdb/$id',
		'http://identifiers.org/mmmp:biomaps/$id',
		'http://identifiers.org/mmrrc/$id',
		'http://identifiers.org/mo/$id',
		'http://identifiers.org/modeldb/$id',
		'http://identifiers.org/molbase/$id',
		'http://identifiers.org/mpid/$id',
		'http://identifiers.org/myco.lepra/$id',
		'http://identifiers.org/myco.marinum/$id',
		'http://identifiers.org/myco.smeg/$id',
		'http://identifiers.org/myco.tuber/$id',
		'http://identifiers.org/mycobank/$id',
		'http://identifiers.org/napp/$id',
		'http://identifiers.org/narcis/$id',
		'http://identifiers.org/nasc/$id',
		'http://identifiers.org/nbn/$id',
		'http://identifiers.org/nbrc/$id',
		'http://identifiers.org/ncbigene/$id',
		'http://identifiers.org/ncbiprotein/$id',
		'http://identifiers.org/ncim/$id',
		'http://identifiers.org/ncit/$id',
		'http://identifiers.org/ndc/$id',
		'http://identifiers.org/neurolex/$id',
		'http://identifiers.org/neuromorpho/$id',
		'http://identifiers.org/neurondb/$id',
		'http://identifiers.org/nextdb/$id',
		'http://identifiers.org/nextprot/$id',
		'http://identifiers.org/niaest/$id',
		'http://identifiers.org/noncodev3/$id',
		'http://identifiers.org/noncodev4.gene/$id',
		'http://identifiers.org/noncodev4.rna/$id',
		'http://identifiers.org/nuclearbd/$id',
		'http://identifiers.org/obi/$id',
		'http://identifiers.org/obo.chebi/CHEBI:$id',
		'http://identifiers.org/obo.go/GO:$id',
		'http://identifiers.org/obo.pw/PW:$id',
		'http://identifiers.org/oma.grp/$id',
		'http://identifiers.org/oma.protein/$id',
		'http://identifiers.org/omia/$id',
		'http://identifiers.org/omim/$id',
		'http://identifiers.org/opb/$id',
		'http://identifiers.org/opm/$id',
		'http://identifiers.org/orcid/$id',
		'http://identifiers.org/oridb.sacch/$id',
		'http://identifiers.org/oridb.schizo/$id',
		'http://identifiers.org/orphanet/$id',
		'http://identifiers.org/orthodb/$id',
		'http://identifiers.org/oryzabase.gene/$id',
		'http://identifiers.org/oryzabase.mutant/$id',
		'http://identifiers.org/oryzabase.stage/$id',
		'http://identifiers.org/oryzabase.strain/$id',
		'http://identifiers.org/otl/$id',
		'http://identifiers.org/paleodb/$id',
		'http://identifiers.org/panther.family/$id',
		'http://identifiers.org/panther.node/$id',
		'http://identifiers.org/panther.pathway/$id',
		'http://identifiers.org/panther.pthcmp/$id',
		'http://identifiers.org/pass2/$id',
		'http://identifiers.org/pathwaycommons/$id',
		'http://identifiers.org/pato/$id',
		'http://identifiers.org/pazar/$id',
		'http://identifiers.org/pdb-ccd/$id',
		'http://identifiers.org/pdb/$id',
		'http://identifiers.org/peptideatlas/$id',
		'http://identifiers.org/peroxibase/$id',
		'http://identifiers.org/pfam/$id',
		'http://identifiers.org/pgn/$id',
		'http://identifiers.org/pharmgkb.disease/$id',
		'http://identifiers.org/pharmgkb.drug/$id',
		'http://identifiers.org/pharmgkb.gene/$id',
		'http://identifiers.org/pharmgkb.pathways/$id',
		'http://identifiers.org/phenolexplorer/$id',
		'http://identifiers.org/phosphopoint.kinase/$id',
		'http://identifiers.org/phosphopoint.protein/$id',
		'http://identifiers.org/phosphosite.protein/$id',
		'http://identifiers.org/phosphosite.residue/$id',
		'http://identifiers.org/phylomedb/$id',
		'http://identifiers.org/phytozome.locus/$id',
		'http://identifiers.org/pid.pathway/$id',
		'http://identifiers.org/pina/$id',
		'http://identifiers.org/piroplasma/$id',
		'http://identifiers.org/pirsf/$id',
		'http://identifiers.org/plasmodb/$id',
		'http://identifiers.org/pmap.cutdb/$id',
		'http://identifiers.org/pmap.substratedb/$id',
		'http://identifiers.org/pmc/$id',
		'http://identifiers.org/pmdb/$id',
		'http://identifiers.org/pmp/$id',
		'http://identifiers.org/po/$id',
		'http://identifiers.org/pocketome/$id',
		'http://identifiers.org/polbase/$id',
		'http://identifiers.org/pombase/$id',
		'http://identifiers.org/pr/$id',
		'http://identifiers.org/pride/$id',
		'http://identifiers.org/prodom/$id',
		'http://identifiers.org/proglyc/$id',
		'http://identifiers.org/prosite/$id',
		'http://identifiers.org/protclustdb/$id',
		'http://identifiers.org/protonet.cluster/$id',
		'http://identifiers.org/protonet.proteincard/$id',
		'http://identifiers.org/pscdb/$id',
		'http://identifiers.org/pseudomonas/$id',
		'http://identifiers.org/psimi/$id',
		'http://identifiers.org/psimod/$id',
		'http://identifiers.org/pubchem.bioassay/$id',
		'http://identifiers.org/pubchem.compound/$id',
		'http://identifiers.org/pubchem.substance/$id',
		'http://identifiers.org/pubmed/$id',
		'http://identifiers.org/pw/PW:$id',
		'http://identifiers.org/reactome/$id',
		'http://identifiers.org/rebase/$id',
		'http://identifiers.org/refseq/$id',
		'http://identifiers.org/resid/$id',
		'http://identifiers.org/rfam/$id',
		'http://identifiers.org/rgd.qtl/$id',
		'http://identifiers.org/rgd.strain/$id',
		'http://identifiers.org/rgd/$id',
		'http://identifiers.org/rhea/$id',
		'http://identifiers.org/ricegap/$id',
		'http://identifiers.org/rnamods/$id',
		'http://identifiers.org/ro/$id',
		'http://identifiers.org/rouge/$id',
		'http://identifiers.org/sabiork.ec/$id',
		'http://identifiers.org/sabiork.kineticrecord/$id',
		'http://identifiers.org/sabiork.reaction/$id',
		'http://identifiers.org/sciencesignaling.path/$id',
		'http://identifiers.org/sciencesignaling.pdc/$id',
		'http://identifiers.org/sciencesignaling.pic/$id',
		'http://identifiers.org/scop/$id',
		'http://identifiers.org/scretf/$id',
		'http://identifiers.org/sdbs/$id',
		'http://identifiers.org/sgd.pathways/$id',
		'http://identifiers.org/sgd/$id',
		'http://identifiers.org/sgn/$id',
		'http://identifiers.org/sider.drug/$id',
		'http://identifiers.org/sider.effect/$id',
		'http://identifiers.org/signaling-gateway/$id',
		'http://identifiers.org/sitex/$id',
		'http://identifiers.org/smart/$id',
		'http://identifiers.org/smpdb/$id',
		'http://identifiers.org/snomedct/$id',
		'http://identifiers.org/so/$id',
		'http://identifiers.org/soybase/$id',
		'http://identifiers.org/spike.map/$id',
		'http://identifiers.org/sprint/$id',
		'http://identifiers.org/stap/$id',
		'http://identifiers.org/stitch/$id',
		'http://identifiers.org/string/$id',
		'http://identifiers.org/subtilist/$id',
		'http://identifiers.org/subtiwiki/$id',
		'http://identifiers.org/supfam/$id',
		'http://identifiers.org/swiss-model/$id',
		'http://identifiers.org/t3db/$id',
		'http://identifiers.org/tair.gene/$id',
		'http://identifiers.org/tair.locus/$id',
		'http://identifiers.org/tair.protein/$id',
		'http://identifiers.org/tarbase/$id',
		'http://identifiers.org/taxonomy/$id',
		'http://identifiers.org/tcdb/$id',
		'http://identifiers.org/tgd/$id',
		'http://identifiers.org/tigrfam/$id',
		'http://identifiers.org/tissuelist/$id',
		'http://identifiers.org/tol/$id',
		'http://identifiers.org/topfind/$id',
		'http://identifiers.org/toxoplasma/$id',
		'http://identifiers.org/treebase/$id',
		'http://identifiers.org/treefam/$id',
		'http://identifiers.org/trichdb/$id',
		'http://identifiers.org/tritrypdb/$id',
		'http://identifiers.org/ttd.drug/$id',
		'http://identifiers.org/ttd.target/$id',
		'http://identifiers.org/uberon/$id',
		'http://identifiers.org/ubio.namebank/$id',
		'http://identifiers.org/umbbd.compound/$id',
		'http://identifiers.org/umbbd.enzyme/$id',
		'http://identifiers.org/umbbd.pathway/$id',
		'http://identifiers.org/umbbd.reaction/$id',
		'http://identifiers.org/umbbd.rule/$id',
		'http://identifiers.org/unigene/$id',
		'http://identifiers.org/unimod/$id',
		'http://identifiers.org/uniparc/$id',
		'http://identifiers.org/unipathway/$id',
		'http://identifiers.org/uniprot.isoform/$id',
		'http://identifiers.org/uniprot/$id',
		'http://identifiers.org/unists/$id',
		'http://identifiers.org/unit/$id',
		'http://identifiers.org/unite/$id',
		'http://identifiers.org/vario/$id',
		'http://identifiers.org/vbase2/$id',
		'http://identifiers.org/vbrc/$id',
		'http://identifiers.org/vectorbase/$id',
		'http://identifiers.org/vfdb.gene/$id',
		'http://identifiers.org/vfdb.genus/$id',
		'http://identifiers.org/vipr/$id',
		'http://identifiers.org/viralzone/$id',
		'http://identifiers.org/virsirna/$id',
		'http://identifiers.org/wikigenes/$id',
		'http://identifiers.org/wikipathways/$id',
		'http://identifiers.org/wikipedia.en/$id',
		'http://identifiers.org/worfdb/$id',
		'http://identifiers.org/wormbase.rnai/$id',
		'http://identifiers.org/wormbase/$id',
		'http://identifiers.org/wormpep/$id',
		'http://identifiers.org/xenbase/$id',
		'http://identifiers.org/ydpm/$id',
		'http://identifiers.org/yetfasco/$id',
		'http://identifiers.org/yid/$id',
		'http://identifiers.org/yrcpdr/$id',
		'http://identifiers.org/zfin.expression/$id',
		'http://identifiers.org/zfin.phenotype/$id',
		'http://identifiers.org/zfin/$id',
		'http://idp1.force.cs.is.nagoya-u.ac.jp/IDEAL/idealItem.php?id=$id',
		'http://idp1.force.cs.is.nagoya-u.ac.jp/pscdb/$id.html',
		'http://img.jgi.doe.gov/cgi-bin/w/main.cgi?section=GeneDetail&gene_oid=$id',
		'http://img.jgi.doe.gov/cgi-bin/w/main.cgi?section=TaxonDetail&taxon_oid=$id',
		'http://immunet.cn/mimodb/browse.php?table=mimoset&ID=$id',
		'http://isbndb.com/search-all.html?kw=$id',
		'http://isyip.genouest.org/apps/grs-2.2/grs?reportID=aphidbase_transcript_report&objectID=$id',
		'http://jaxmice.jax.org/strain/$id.html',
		'http://jcggdb.jp/idb/jcggdb/$id',
		'http://jjj.bio.vu.nl/cgi-bin/processModelSelection.py?keytype=modelname&keyword=$id',
		'http://jjj.biochem.sun.ac.za/cgi-bin/processModelSelection.py?keytype=modelname&keyword=$id',
		'http://jjj.mib.ac.uk/webMathematica/DataBaseSelection/processModelSelection.jsp?keytype=authors&keyword=$id',
		'http://kanaya.naist.jp/knapsack_jsp/information.jsp?word=$id',
		'http://kinase.bioinformatics.tw/showall.jsp?type=Kinase&info=Gene&name=$id&drawing=0&sorting=0&kinome=1',
		'http://kinase.bioinformatics.tw/showall.jsp?type=PhosphoProtein&info=Gene&name=$id&drawing=0&sorting=0&kinome=0',
		'http://lemur.amu.edu.pl/share/php/mirnest/search.php?search_term=$id',
		'http://lgsun.grc.nia.nih.gov/cgi-bin/pro3?sname1=$id',
		'http://ligand-depot.rutgers.edu/pyapps/ldHandler.py?formid=cc-index-search&target=$id&operation=ccid',
		'http://ligand-expo.rcsb.org/pyapps/ldHandler.py?formid=cc-index-search&target=$id&operation=ccid',
		'http://ligandbox.protein.osaka-u.ac.jp/ligandbox/cgi-bin/liginf.cgi?id=$id',
		'http://linkedchemistry.info/chembl/$id',
		'http://linkedchemistry.info/chembl/molecule/m$id',
		'http://linkedchemistry.info/chembl/target/t$id',
		'http://lipidbank.jp/cgi-bin/detail.cgi?id=$id',
		'http://matrixdb.ibcp.fr/cgi-bin/model/report/default?name=$id&class=Association',
		'http://maxd.cs.purdue.edu:9455/geneInfo.php?eg_id=$id',
		'http://merops.sanger.ac.uk/cgi-bin/famsum?family=$id',
		'http://merops.sanger.ac.uk/cgi-bin/pepsum?mid=$id',
		'http://metarray.ucsc.edu/cgi-bin/intron/yirIntrondb?orfName=$id',
		'http://metazoa.ensembl.org/id/$id',
		'http://metlin.scripps.edu/metabo_info.php?molid=$id',
		'http://mged.sourceforge.net/ontologies/MGEDontology.php#$id',
		'http://mi.caspur.it/PMDB/user/search.php?idsearch=$id',
		'http://microrna.sanger.ac.uk/cgi-bin/sequences/mirna_entry.pl?acc=$id',
		'http://microsporidiadb.org/micro/showRecord.do?name=GeneRecordClasses.GeneRecordClass&source_id=$id',
		'http://mint.bio.uniroma2.it/mint/search/inFrameInteraction.do?interactionAc=$id',
		'http://mips.helmholtz-muenchen.de/cgi-bin/proj/funcatDB/search_advanced.pl?action=2&wert=$id',
		'http://mips.helmholtz-muenchen.de/genre/proj/corum/complexdetails.html?id=$id',
		'http://mips.helmholtz-muenchen.de/genre/proj/yeast/singleGeneReport.html?entry=$id',
		'http://mods.rna.albany.edu/mods/modifications/view/$id',
		'http://msbi.ipb-halle.de/MassBank/jsp/Dispatcher.jsp?type=disp&id=$id',
		'http://mycobrowser.epfl.ch/leprosysearch.php?gene+name=$id',
		'http://mycobrowser.epfl.ch/marinosearch.php?gene+name=$id',
		'http://mycobrowser.epfl.ch/smegmasearch.php?gene+name=$id',
		'http://napp.u-psud.fr/Niveau2.php?specie=$id',
		'http://nbn-resolving.org/resolver?identifier=$id&verb=full',
		'http://ncim.nci.nih.gov/ncimbrowser/ConceptReport.jsp?dictionary=NCI+MetaThesaurus&code=$id',
		'http://ncit.nci.nih.gov/ncitbrowser/ConceptReport.jsp?dictionary=NCI+Thesaurus&code=$id',
		'http://nematode.lab.nig.ac.jp/db2/ShowCloneInfo.php?clone=$id',
		'http://neuromorpho.org/neuroMorpho/neuron_info.jsp?neuron_name=$id',
		'http://nikkajiweb.jst.go.jp/nikkaji_web/pages/top_e.jsp?CONTENT=syosai&SN=$id',
		'http://omabrowser.org/cgi-bin/gateway.pl?f=DisplayEntry&p1=$id',
		'http://omabrowser.org/cgi-bin/gateway.pl?f=DisplayGroup&p1=$id',
		'http://omia.angis.org.au/$id/',
		'http://omim.org/entry/$id',
		'http://opm.phar.umich.edu/protein.php?pdbid=$id',
		'http://ops.rsc-us.org/$id',
		'http://ops.rsc.org/$id',
		'http://orion.rnet.missouri.edu/~nz953/DOMMINO/index.php/result/show_network/$id',
		'http://oryzatagline.cirad.fr/cgi-bin/general_mutant.pl?line=$id',
		'http://p570e70p1.ophid.utoronto.ca/genecards/cgi-bin/carddisp.pl?gene=$id',
		'http://paleodb.geology.wisc.edu/cgi-bin/bridge.pl?a=basicTaxonInfo&taxon_no=$id',
		'http://paleodb.org/cgi-bin/bridge.pl?a=basicTaxonInfo&taxon_no=$id',
		'http://pathman.smpdb.ca/pathways/$id/pathway',
		'http://pathway.yeastgenome.org/YEAST/new-image?type=PATHWAY&object=$id',
		'http://pbil.univ-lyon1.fr/cgi-bin/view-tree.pl?db=HOGENOM5&query=$id',
		'http://pbil.univ-lyon1.fr/cgi-bin/view-tree.pl?query=$id&db=HOVERGEN',
		'http://peroxibase.toulouse.inra.fr/browse/process/view_perox.php?id=$id',
		'http://pfam.janelia.org/family/$id',
		'http://pfam.sanger.ac.uk/family/$id/',
		'http://pfam.sbc.su.se/family/$id',
		'http://pgn.cornell.edu/unigene/unigene_assembly_contigs.pl?unigene_id=$id',
		'http://phylomedb.org/?seqid=$id',
		'http://pid.nci.nih.gov/search/pathway_landing.shtml?what=graphic&jpg=on&pathway_id=$id',
		'http://pir.georgetown.edu/cgi-bin/ipcSF?id=$id',
		'http://pir.georgetown.edu/cgi-bin/pro/entry_pro?id=$id',
		'http://piroplasmadb.org/piro/showRecord.do?name=GeneRecordClasses.GeneRecordClass&source_id=$id',
		'http://plants.ensembl.org/id/$id',
		'http://plasmodb.org/plasmo/showRecord.do?name=GeneRecordClasses.GeneRecordClass&source_id=$id',
		'http://plugins.biogps.org/cgi-bin/wp.cgi?id=$id',
		'http://polbase.neb.com/polymerases/$id#sequences',
		'http://pombe.oridb.org/details.php?id=$id',
		'http://prodom.prabi.fr/prodom/current/cgi-bin/request.pl?question=DBEN&query=$id',
		'http://prosite.expasy.org/$id',
		'http://proteopedia.org/wiki/index.php/$id',
		'http://protists.ensembl.org/id/$id',
		'http://psb.kobic.re.kr/STAP/refinement/result.php?search=$id',
		'http://pubchem.ncbi.nlm.nih.gov/assay/assay.cgi?aid=$id',
		'http://pubchem.ncbi.nlm.nih.gov/rest/rdf/compound/CID$id',
		'http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=$id',
		'http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?sid=$id',
		'http://purl.bioontology.org/ontology/BIRNLEX/$id',
		'http://purl.bioontology.org/ontology/BTO/$id',
		'http://purl.bioontology.org/ontology/CHEBI/CHEBI:$id',
		'http://purl.bioontology.org/ontology/CL/$id',
		'http://purl.bioontology.org/ontology/DOID/$id',
		'http://purl.bioontology.org/ontology/ECO/$id',
		'http://purl.bioontology.org/ontology/EDAM/$id',
		'http://purl.bioontology.org/ontology/EFO/efo:EFO_$id',
		'http://purl.bioontology.org/ontology/FMA_subset/$id',
		'http://purl.bioontology.org/ontology/GO/GO:$id',
		'http://purl.bioontology.org/ontology/KISAO/kisao:$id',
		'http://purl.bioontology.org/ontology/MA/$id',
		'http://purl.bioontology.org/ontology/MO/$id',
		'http://purl.bioontology.org/ontology/MSH/$id',
		'http://purl.bioontology.org/ontology/NCBITAXON/obo:NCBITaxon_$id',
		'http://purl.bioontology.org/ontology/NCIM/$id',
		'http://purl.bioontology.org/ontology/OBI/obo:$id',
		'http://purl.bioontology.org/ontology/OPB/$id',
		'http://purl.bioontology.org/ontology/PATO/$id',
		'http://purl.bioontology.org/ontology/PO/$id',
		'http://purl.bioontology.org/ontology/PPIO/$id',
		'http://purl.bioontology.org/ontology/PR/$id',
		'http://purl.bioontology.org/ontology/PW/PW:$id',
		'http://purl.bioontology.org/ontology/SBO/$id',
		'http://purl.bioontology.org/ontology/SO/$id',
		'http://purl.bioontology.org/ontology/TEDDY/$id',
		'http://purl.bioontology.org/ontology/UBERON/$id',
		'http://purl.bioontology.org/ontology/UO/$id',
		'http://purl.bioontology.org/ontology/VARIO/$id',
		'http://purl.obolibrary.org/obo/$id',
		'http://purl.obolibrary.org/obo/CHEBI_$id',
		'http://purl.obolibrary.org/obo/PW_$id',
		'http://purl.org/obo/owl/CHEBI#CHEBI_$id',
		'http://purl.org/obo/owl/GO#GO_$id',
		'http://purl.org/phylo/treebase/phylows/study/$id?format=html',
		'http://purl.uniprot.org/ensembl/$id',
		'http://purl.uniprot.org/enzyme/$id',
		'http://purl.uniprot.org/flybase/$id',
		'http://purl.uniprot.org/geneid/$id',
		'http://purl.uniprot.org/ipi/$id',
		'http://purl.uniprot.org/mgi/$id',
		'http://purl.uniprot.org/mim/$id',
		'http://purl.uniprot.org/pdb/$id',
		'http://purl.uniprot.org/refseq/$id',
		'http://purl.uniprot.org/rgd/$id',
		'http://purl.uniprot.org/sgd/$id',
		'http://purl.uniprot.org/unigene/$id',
		'http://purl.uniprot.org/uniprot/$id',
		'http://purl.uniprot.org/wormbase/$id',
		'http://purl.uniprot.org/zfin/$id',
		'http://rdf.chemspider.com/$id',
		'http://rdf.ebi.ac.uk/resource/chembl/molecule/$id',
		'http://rdf.ebi.ac.uk/resource/chembl/target/$id',
		'http://rdf.ebi.ac.uk/resource/chembl/targetcomponent/$id',
		'http://rdf.ncbi.nlm.nih.gov/pubchem/compound/$id',
		'http://rdf.openmolecules.net/?$id',
		'http://rdf.wikipathways.org/$id',
		'http://rdf.wwpdb.org/pdb/$id',
		'http://rebase.neb.com/rebase/enz/$id.html',
		'http://rfam.janelia.org/family/$id',
		'http://rfam.sanger.ac.uk/family/$id',
		'http://rgd.mcw.edu/rgdweb/ontology/annot.html?acc_id=PW:$id',
		'http://rgd.mcw.edu/rgdweb/report/gene/main.html?id=$id',
		'http://rgd.mcw.edu/rgdweb/report/qtl/main.html?id=$id',
		'http://rgd.mcw.edu/rgdweb/report/strain/main.html?id=$id',
		'http://rgd.mcw.edu/tools/genes/genes_view.cgi?id=$id',
		'http://rice.plantbiology.msu.edu/cgi-bin/ORF_infopage.cgi?orf=$id',
		'http://riodb01.ibase.aist.go.jp/sdbs/cgi-bin/cre_frame_disp.cgi?sdbsno=$id',
		'http://sabiork.h-its.org/newSearch?q=ecnumber%3A$id',
		'http://sabiork.h-its.org/newSearch?q=entryid%3A$id',
		'http://sabiork.h-its.org/newSearch?q=sabioreactionid%3A$id',
		'http://scop.berkeley.edu/sunid=$id',
		'http://scop.bic.nus.edu.sg/search.cgi?sunid=$id',
		'http://scop.mrc-lmb.cam.ac.uk/scop/search.cgi?sunid=$id',
		'http://senselab.med.yale.edu/ModelDB/ShowModel.asp?model=$id',
		'http://senselab.med.yale.edu/NeuronDB/NeuronProp.aspx?id=$id',
		'http://service.pdbj.org/mine/summary/$id',
		'http://sideeffects.embl.de/drugs/$id/',
		'http://sideeffects.embl.de/se/$id/',
		'http://smart.embl-heidelberg.de/smart/do_annotation.pl?DOMAIN=$id',
		'http://solgenomics.net/phenome/locus_display.pl?locus_id=$id',
		'http://soybeanbreederstoolbox.org/search/search_results.php?category=SNP&search_term=$id',
		'http://srs.ebi.ac.uk/srsbin/cgi-bin/wgetz?-id+1fmSL1g8Xvs+-e+%5BIMGTLIGM%3A%27$id%27%5D',
		'http://srs.ebi.ac.uk/srsbin/cgi-bin/wgetz?-id+1fmSL1hlE31+-e+%5BEPD%3A%27$id%27%5D',
		'http://srs.ebi.ac.uk/srsbin/cgi-bin/wgetz?-id+6JSUg1NA6u4+-e+%5BRESID%3A%27$id%27%5D',
		"http://srs.ebi.ac.uk/srsbin/cgi-bin/wgetz?-id+6JSUg1NA6u4+-e+[RESID:'$id']",
		"http://srs.ebi.ac.uk/srsbin/cgi-bin/wgetz?-page+EntryPage+-e+[EMBL:$id]+-view+EmblEntry",
		'http://stitch.embl.de/interactions/$id',
		'http://stke.sciencemag.org/cgi/cm/stkecm;$id',
		'http://stormo.wustl.edu/ScerTF/details/$id/',
		'http://string-db.org/interactions/$id',
		'http://string.embl.de/interactions/$id',
		'http://substrate.burnham.org/protein/annotation/$id/html',
		'http://supfam.org/SUPERFAMILY/cgi-bin/scop.cgi?ipid=$id',
		'http://swissmodel.expasy.org/repository/smr.php?sptr_ac=$id',
		'http://thebiogrid.org/$id',
		'http://tolweb.org/$id',
		'http://toxodb.org/toxo/showRecord.do?name=GeneRecordClasses.GeneRecordClass&source_id=$id',
		'http://trace.ddbj.nig.ac.jp/BPSearch/bioproject?acc=$id',
		'http://trace.ddbj.nig.ac.jp/DRASearch/experiment?acc=$id',
		'http://trichdb.org/trichdb/showRecord.do?name=GeneRecordClasses.GeneRecordClass&source_id=$id',
		'http://tritrypdb.org/tritrypdb/showRecord.do?name=GeneRecordClasses.GeneRecordClass&source_id=$id',
		'http://tuberculist.epfl.ch/quicksearch.php?gene+name=$id',
		'http://umbbd.ethz.ch/servlets/pageservlet?ptype=c&compID=$id',
		'http://umbbd.ethz.ch/servlets/pageservlet?ptype=ep&enzymeID=$id',
		'http://umbbd.ethz.ch/servlets/pageservlet?ptype=p&pathway_abbr=$id',
		'http://umbbd.ethz.ch/servlets/pageservlet?ptype=r&reacID=$id',
		'http://unite.ut.ee/bl_forw.php?nimi=$id',
		'http://urgi.versailles.inra.fr/Genefarm/Gene/display_gene.htpl?GENE_ID=$id',
		'http://us-east.omim.org/entry/$id',
		'http://useast.ensembl.org/id/$id',
		'http://uswest.ensembl.org/id/$id',
		'http://vbrc.org/gene_detail.asp?gene_id=$id',
		'http://viralzone.expasy.org/all_by_protein/$id.html',
		'http://vtsl.vetmed.vt.edu/TerminologyMgt/Browser/ISA.cfm?SCT_ConceptID=$id',
		'http://wasabi.lutzonilab.net/pub/displayTaxonInfo?aftol_id=$id',
		'http://webapps2.ucalgary.ca/~groupii/cgi-bin/intron.cgi?name=$id',
		'http://webbook.nist.gov/cgi/cbook.cgi?$id',
		'http://webprod3.hc-sc.gc.ca/dpd-bdpp/info.do?lang=eng&code=$id',
		'http://wheat.pw.usda.gov/cgi-bin/graingenes/report.cgi?class=reference&name=$id',
		'http://wheat.pw.usda.gov/report?class=gene;name=$id',
		'http://wheat.pw.usda.gov/sql?sql=select+distinct+genewgcreference.number+as+WGC,+reference.name+as+Reference,+reference.title+as+Title,+journal.name+as+Journal,+reference.volume+as+Volume,+reference.pages+as+Page+from+reference+inner+join+genewgcreference+on+genewgcreference.referenceid=reference.id+inner+join+journal+on+reference.journalid=journal.id+where+genewgcreference.number=$id',
		'http://wiki.nugo.org/index.php/$id',
		'http://wodaklab.org/iRefWeb/interaction/show/$id',
		'http://worfdb.dfci.harvard.edu/index.php?search_type=name&page=showresultrc&race_query=$id',
		'http://wormbase.sanger.ac.uk/db/seq/protein?name=WP%3A$id',
		'http://www-bionet.sscc.ru/sitex/index.php?siteid=$id',
		'http://www-deletion.stanford.edu/cgi-bin/YDPM/YDPM_search.cgi?thelist=$id',
		'http://www-is.biotoul.fr/index.html?is_special_name=$id',
		'http://www.3dmet.dna.affrc.go.jp/cgi/show_data.php?acc=$id',
		'http://www.allergome.org/script/dettaglio.php?id_molecule=$id',
		'http://www.antweb.org/specimen.do?name=$id',
		'http://www.arachnoserver.org/toxincard.html?id=$id',
		'http://www.ars-grin.gov/cgi-bin/npgs/html/taxon.pl?$id',
		'http://www.aspergillusgenome.org/cgi-bin/locus.pl?dbid=$id',
		'http://www.aspergillusgenome.org/cgi-bin/protein/proteinPage.pl?dbid=$id',
		'http://www.be.cabri.org/CABRI/srs-bin/wgetz?-e+-page+EntryPage+%5B$id%5D',
		'http://www.bind.ca/Action?identifier=bindid&idsearch=$id',
		'http://www.bindingdb.org/bind/chemsearch/marvin/MolStructure.jsp?monomerid=$id',
		'http://www.biocarta.com/pathfiles/$id.asp',
		'http://www.biocatalogue.org/services/$id',
		'http://www.bioguo.org/AnimalTFDB/family.php?fam=$id',
		'http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=$id&display_opts=Prints&category=None&queryform=false&regexpr=off',
		'http://www.bioinsilico.org/cgi-bin/CAPSDB/getCAPScluster?nidcl=$id',
		'http://www.bionumbers.hms.harvard.edu/bionumber.aspx?s=y&id=$id&ver=1',
		'http://www.biosharing.org/$id',
		'http://www.boldsystems.org/index.php/Taxbrowser_Taxonpage?taxid=$id',
		'http://www.brenda-enzymes.org/php/result_flat.php4?ecno=$id',
		'http://www.broadinstitute.org/annotation/genome/magnaporthe_grisea/GeneDetails.html?sp=$id',
		'http://www.cabri.org/CABRI/srs-bin/wgetz?-e+-page+EntryPage+%5B$id%5D',
		'http://www.candidagenome.org/cgi-bin/locus.pl?dbid=$id',
		'http://www.cathdb.info/cathnode/$id',
		'http://www.cathdb.info/domain/$id',
		'http://www.cazy.org/$id.html',
		'http://www.cellsignal.com/products/$id.html',
		'http://www.cellsignal.com/reference/pathway/$id.html',
		'http://www.chemspider.com/$id',
		'http://www.chemspider.com/Chemical-Structure.$id.html',
		'http://www.chemspider.com/Chemical-Structure.$id.rdf',
		'http://www.chemspider.com/inchi-resolver/Resolver.aspx?q=$id',
		'http://www.conceptwiki.org/concept/$id',
		'http://www.conoserver.org/?page=card&table=protein&id=$id',
		'http://www.cs.tau.ac.il/~spike/maps/$id.html',
		'http://www.disprot.org/protein.php?id=$id',
		'http://www.dpvweb.net/dpv/showdpv.php?dpvno=$id',
		'http://www.drugbank.ca/drugs/$id',
		'http://www.drugbank.ca/molecules/$id',
		'http://www.drugbank.ca/molecules/$id?as=target',
		'http://www.ebi.ac.uk/QuickGO/GProtein?ac=$id',
		'http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:$id',
		'http://www.ebi.ac.uk/Tools/dbfetch/dbfetch?db=ipi&id=$id&format=default&style=html',
		'http://www.ebi.ac.uk/arrayexpress/arrays/$id',
		'http://www.ebi.ac.uk/arrayexpress/experiments/$id',
		'http://www.ebi.ac.uk/biomodels-main/$id',
		'http://www.ebi.ac.uk/biosamples/browse.html?keywords=$id',
		'http://www.ebi.ac.uk/cgi-bin/dbfetch?db=IPI&id=$id&format=default',
		'http://www.ebi.ac.uk/cgi-bin/dbfetch?db=uniparc&id=$id',
		'http://www.ebi.ac.uk/cgi-bin/imgt/hla/get_allele.cgi?$id',
		'http://www.ebi.ac.uk/chebi/advancedSearchFT.do?searchString=$id',
		'http://www.ebi.ac.uk/chebi/searchId.do?chebiId=CHEBI:$id',
		'http://www.ebi.ac.uk/compneur-srv/LGICdb/HTML/$id.php',
		'http://www.ebi.ac.uk/efo/EFO_$id',
		'http://www.ebi.ac.uk/ena/data/view/$id',
		'http://www.ebi.ac.uk/ena/data/view/Taxon:$id',
		'http://www.ebi.ac.uk/gxa/experiment/$id',
		'http://www.ebi.ac.uk/gxa/gene/$id',
		'http://www.ebi.ac.uk/intact/imex/main.xhtml?query=$id',
		'http://www.ebi.ac.uk/intact/interaction/$id',
		'http://www.ebi.ac.uk/intact/molecule/$id',
		'http://www.ebi.ac.uk/intact/pages/details/details.xhtml?interactionAc=$id',
		'http://www.ebi.ac.uk/intenz/query?cmd=SearchEC&ec=$id',
		'http://www.ebi.ac.uk/interpro/DisplayIproEntry?ac=$id',
		'http://www.ebi.ac.uk/interpro/entry/$id',
		'http://www.ebi.ac.uk/metabolights/$id',
		'http://www.ebi.ac.uk/miriam/main/$id',
		'http://www.ebi.ac.uk/miriam/main/resources/$id',
		'http://www.ebi.ac.uk/ontology-lookup/?termId=$id',
		'http://www.ebi.ac.uk/ontology-lookup/?termId=CHEBI:$id',
		'http://www.ebi.ac.uk/ontology-lookup/?termId=EFO%3A$id',
		'http://www.ebi.ac.uk/ontology-lookup/?termId=PW:$id',
		'http://www.ebi.ac.uk/pdbe-srv/pdbechem/chemicalCompound/show/$id',
		'http://www.ebi.ac.uk/pdbsum/$id',
		'http://www.ebi.ac.uk/pride/experimentLink.do?experimentAccessionNumber=$id',
		'http://www.ebi.ac.uk/rhea/reaction.xhtml?id=$id',
		'http://www.ebi.ac.uk/sbo/main/$id',
		'http://www.ebi.ac.uk/thornton-srv/databases/CSA_NEW/SearchResults.php?PDBID=$id',
		'http://www.ebi.ac.uk/thornton-srv/databases/cgi-bin/MACiE/entry/getPage.pl?id=$id',
		'http://www.ebi.uniprot.org/entry/$id',
		'http://www.ensembl.org/Anopheles_gambiae/Gene/Summary?_q=$id',
		'http://www.ensembl.org/Bos_taurus/Gene/Summary?g=$id',
		'http://www.ensembl.org/Caenorhabditis_elegans/Gene/Summary?g=$id',
		'http://www.ensembl.org/Canis_familiaris/Gene/Summary?g=$id',
		'http://www.ensembl.org/Danio_rerio/Gene/Summary?g=$id',
		'http://www.ensembl.org/Drosophila_melanogaster/Gene/Summary?g=$id',
		'http://www.ensembl.org/Equus_caballus/Gene/Summary?g=$id',
		'http://www.ensembl.org/Gallus_gallus/Gene/Summary?g=$id',
		'http://www.ensembl.org/Homo_sapiens/Gene/Summary?g=$id',
		'http://www.ensembl.org/Multi/GeneTree/Image?db=core%3Bgt%3D$id',
		'http://www.ensembl.org/Mus_musculus/Gene/Summary?g=$id',
		'http://www.ensembl.org/Pan_troglodytes/Gene/Summary?g=$id',
		'http://www.ensembl.org/Rattus_norvegicus/Gene/Summary?g=$id',
		'http://www.ensembl.org/Saccharomyces_cerevisiae/Gene/Summary?g=$id',
		'http://www.ensembl.org/Sus_scrofa/Gene/Summary?g=$id',
		'http://www.ensembl.org/Xenopus_tropicalis/Gene/Summary?g=$id',
		'http://www.ensembl.org/id/$id',
		'http://www.enzyme-database.org/query.php?ec=$id',
		'http://www.fludb.org/brc/fluSegmentDetails.do?ncbiGenomicAccession=$id',
		'http://www.flyrnai.org/cgi-bin/RNAi_gene_lookup_public.pl?gname=$id',
		'http://www.fr.cabri.org/CABRI/srs-bin/wgetz?-e+-page+EntryPage+%5B$id%5D',
		'http://www.fungalbarcoding.org/BioloMICS.aspx?Table=Fungal+barcodes&Rec=$id&Fields=All&ExactMatch=T',
		'http://www.genecards.org/cgi-bin/carddisp.pl?gene=$id',
		'http://www.genedb.org/gene/$id',
		'http://www.genenames.org/data/hgnc_data.php?hgnc_id=$id',
		'http://www.genenames.org/data/hgnc_data.php?match=$id',
		'http://www.geneontology.org/cgi-bin/references.cgi#$id',
		'http://www.genome.jp/dbget-bin/www_bget?$id',
		'http://www.genome.jp/dbget-bin/www_bget?cpd:$id',
		'http://www.genome.jp/dbget-bin/www_bget?dr:$id',
		'http://www.genome.jp/dbget-bin/www_bget?ec%3A$id',
		'http://www.genome.jp/dbget-bin/www_bget?gl:$id',
		'http://www.genome.jp/dbget-bin/www_bget?ko+$id',
		'http://www.genome.jp/dbget-bin/www_bget?pathway+$id',
		'http://www.genome.jp/dbget-bin/www_bget?rn:$id',
		'http://www.genomesonline.org/cgi-bin/GOLD/GOLDCards.cgi?goldstamp=$id',
		'http://www.glyco.is.ritsumei.ac.jp/epitope-bin/epitope.cgi?mode=general&epitope_id=$id',
		'http://www.glycome-db.org/database/showStructure.action?glycomeId=$id',
		'http://www.gpcr.org/7tm/proteins/$id',
		'http://www.gramene.org/Arabidopsis_thaliana/Gene/Summary?g=$id',
		'http://www.gramene.org/Oryza_sativa/Gene/Summary?db=core;g=$id',
		'http://www.gramene.org/Oryza_sativa/geneview?gene=$id',
		'http://www.gramene.org/db/genes/search_gene?acc=$id',
		'http://www.gramene.org/db/literature/pub_search?ref_id=$id',
		'http://www.gramene.org/db/ontology/search?id=$id',
		'http://www.gramene.org/db/protein/protein_search?protein_id=$id',
		'http://www.gramene.org/db/qtl/qtl_display?qtl_accession_id=$id',
		'http://www.grenoble.prabi.fr/obiwarehouse/unipathway/upa?upid=$id',
		'http://www.hgmd.cf.ac.uk/ac/gene.php?gene=$id',
		'http://www.hipaaspace.com/Medical_Billing/Coding/National.Drug.Codes/$id',
		'http://www.hmdb.ca/metabolites/$id',
		'http://www.homd.org/modules.php?op=modload&name=GenomeList&file=index&link=detailinfo&seqid=$id',
		'http://www.homd.org/modules.php?op=modload&name=HOMD&file=index&oraltaxonid=$id&view=dynamic',
		'http://www.hprd.org/protein/$id',
		'http://www.hubmed.org/display.cgi?uids=$id',
		'http://www.imgt.org/IMGTlect/?query=5+$id',
		'http://www.informatics.jax.org/marker/MGI:$id',
		'http://www.informatics.jax.org/searches/AMA.cgi?id=$id',
		'http://www.informatics.jax.org/searches/GO.cgi?id=GO:$id',
		'http://www.iuphar-db.org/DATABASE/FamilyMenuForward?familyId=$id',
		'http://www.iuphar-db.org/DATABASE/LigandDisplayForward?ligandId=$id',
		'http://www.iuphar-db.org/DATABASE/ObjectDisplayForward?objectId=$id',
		'http://www.jcm.riken.go.jp/cgi-bin/jcm/jcm_number?JCM=$id',
		'http://www.jcvi.org/cgi-bin/tigrfams/HmmReportPage.cgi?acc=$id',
		'http://www.jcvi.org/charprotdb/index.cgi/view/$id',
		'http://www.jcvi.org/mpidb/experiment.php?interaction_id=$id',
		'http://www.jstor.org/stable/$id',
		'http://www.kazusa.or.jp/huge/gfpage/$id/',
		'http://www.kazusa.or.jp/rouge/gfpage/$id/',
		'http://www.kegg.jp/entry/$id',
		'http://www.koehn.embl.de/depod/showp.php?gene=$id',
		'http://www.lgcstandards-atcc.org/Products/All/$id.aspx',
		'http://www.lipidmaps.org/data/get_lm_lipids_dbgif.php?LM_ID=$id',
		'http://www.maizegdb.org/cgi-bin/displaylocusrecord.cgi?id=$id',
		'http://www.maizegdb.org/cgi-bin/displaylocusresults.cgi?term=$id',
		'http://www.maizesequence.org/Zea_mays/Gene/Summary?g=$id',
		'http://www.metacyc.org/META/NEW-IMAGE?type=NIL&object=$id',
		'http://www.mgc.ac.cn/cgi-bin/VFs/gene.cgi?GeneID=$id',
		'http://www.mgc.ac.cn/cgi-bin/VFs/genus.cgi?Genus=$id',
		'http://www.mirbase.org/cgi-bin/mature.pl?mature_acc=$id',
		'http://www.mirbase.org/cgi-bin/mirna_entry.pl?acc=$id',
		'http://www.mmmp.org/MMMP/public/biomap/viewBiomap.mmmp?id=$id',
		'http://www.mmrrc.org/catalog/getSDS.php?mmrrc_id=$id',
		'http://www.molbase.com/en/index.php?app=search&search_keyword=$id',
		'http://www.mycobank.org/Biolomics.aspx?Table=Mycobank&MycoBankNr_=$id',
		'http://www.narcis.nl/publication/RecordID/$id',
		'http://www.nbrc.nite.go.jp/NBRC2/NBRCCatalogueDetailServlet?ID=NBRC&CAT=$id',
		'http://www.ncbi.nlm.nih.gov/CCDS/CcdsBrowse.cgi?REQUEST=ALLFIELDS&DATA=$id',
		'http://www.ncbi.nlm.nih.gov/CCDS/CcdsBrowse.cgi?REQUEST=CCDS&amp%3BDATA=$id',
		'http://www.ncbi.nlm.nih.gov/COG/grace/wiew.cgi?$id',
		'http://www.ncbi.nlm.nih.gov/COG/grace/wiew.cgi?fun=$id',
		'http://www.ncbi.nlm.nih.gov/IEB/Research/Acembly/av.cgi?db=worm&c=Gene&l=$id',
		'http://www.ncbi.nlm.nih.gov/Structure/cdd/cddsrv.cgi?uid=$id',
		'http://www.ncbi.nlm.nih.gov/Structure/mmdb/mmdbsrv.cgi?uid=$id',
		'http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id=$id',
		'http://www.ncbi.nlm.nih.gov/UniGene/clust.cgi?UGID=$id',
		'http://www.ncbi.nlm.nih.gov/UniGene/clust.cgi?UGID=1548618&SEARCH=$id',
		'http://www.ncbi.nlm.nih.gov/bioproject?term=$id',
		'http://www.ncbi.nlm.nih.gov/biosystems/$id',
		'http://www.ncbi.nlm.nih.gov/entrez/viewer.fcgi?val=$id',
		'http://www.ncbi.nlm.nih.gov/gene/$id',
		'http://www.ncbi.nlm.nih.gov/genome/sts/sts.cgi?uid=$id',
		'http://www.ncbi.nlm.nih.gov/homologene/$id',
		'http://www.ncbi.nlm.nih.gov/nuccore/$id',
		'http://www.ncbi.nlm.nih.gov/nucest/$id',
		'http://www.ncbi.nlm.nih.gov/pmc/articles/$id/?tool=pubmed',
		'http://www.ncbi.nlm.nih.gov/projects/SNP/snp_ref.cgi?rs=$id',
		'http://www.ncbi.nlm.nih.gov/projects/genome/probe/reports/probereport.cgi?uid=$id',
		'http://www.ncbi.nlm.nih.gov/protein/$id',
		'http://www.ncbi.nlm.nih.gov/protein/$id?report=genpept',
		'http://www.ncbi.nlm.nih.gov/pubmed/$id',
		'http://www.ncbi.nlm.nih.gov/sites/GDSbrowser?acc=$id',
		'http://www.ncbi.nlm.nih.gov/sites/entrez?Db=proteinclusters&Cmd=DetailsSearch&Term=$id',
		'http://www.ncbi.nlm.nih.gov/sites/entrez?cmd=Retrieve&db=omia&dopt=Detailed&list_uids=$id',
		'http://www.ncbi.nlm.nih.gov/sra/$id?report=full',
		'http://www.ncbi.nlm.nih.gov/unigene?term=$id',
		'http://www.neurolex.org/wiki/$id',
		'http://www.nextprot.org/db/entry/$id',
		'http://www.nlm.nih.gov/cgi/mesh/2012/MB_cgi?mode=&index=$id&view=expanded',
		'http://www.nlm.nih.gov/cgi/mesh/2013/MB_cgi?mode=&index=$id&view=expanded',
		'http://www.nlm.nih.gov/medlineplus/ency/article/$id.htm',
		'http://www.noncode.org/NONCODERv3/ncrna.php?ncid=$id',
		'http://www.noncode.org/show_gene.php?id=$id',
		'http://www.noncode.org/show_rna.php?id=$id',
		'http://www.obofoundry.org/ro/#$id',
		'http://www.orpha.net/consor/cgi-bin/OC_Exp.php?Lng=EN&Expert=$id',
		'http://www.pantherdb.org/panther/category.do?categoryAcc=GO:$id',
		'http://www.pantherdb.org/panther/family.do?clsAccession=$id',
		'http://www.pantherdb.org/pathway/pathCatDetail.do?clsAccession=$id',
		'http://www.pantherdb.org/pathway/pathwayDiagram.jsp?catAccession=$id',
		'http://www.pantree.org/node/annotationNode.jsp?id=$id',
		'http://www.pathwaycommons.org/pc/record2.do?id=$id',
		'http://www.pazar.info/cgi-bin/tf_search.cgi?geneID=$id',
		'http://www.pdb.org/pdb/explore/explore.do?pdbId=$id',
		'http://www.pdbe.org/$id',
		'http://www.pharmgkb.org/disease/$id',
		'http://www.pharmgkb.org/drug/$id',
		'http://www.pharmgkb.org/gene/$id',
		'http://www.pharmgkb.org/pathway/$id',
		'http://www.phenol-explorer.eu/contents/food/$id',
		'http://www.phosphosite.org/proteinAction.do?id=$id',
		'http://www.phosphosite.org/siteAction.do?id=$id',
		'http://www.phytozome.net/genePage.php?crown&method=0&search=1&detail=1&searchText=locusname%3A$id',
		'http://www.plantontology.org/amigo/go.cgi?view=details&query=$id',
		'http://www.pocketome.org/files/$id.html',
		'http://www.pombase.org/spombe/result/$id',
		'http://www.proglycprot.org/detail.aspx?ProId=$id',
		'http://www.proteinatlas.org/$id',
		'http://www.proteinmodelportal.org/query/uniprot/$id',
		'http://www.protonet.cs.huji.ac.il/requested/cluster_card.php?cluster=$id',
		'http://www.protonet.cs.huji.ac.il/requested/protein_card.php?protein_id=$id',
		'http://www.pseudomonas.com/getAnnotation.do?locusID=$id',
		'http://www.rcsb.org/pdb/explore/explore.do?structureId=$id',
		'http://www.reactome.org/cgi-bin/eventbrowser_st_id?FROM_REACTOME=1&ST_ID=$id',
		'http://www.receptors.org/nucleardb/proteins/$id',
		'http://www.sanger.ac.uk/cgi-bin/Rfam/getacc?$id',
		'http://www.sequenceontology.org/miso/current_release/term/$id',
		'http://www.shigen.nig.ac.jp/rice/oryzabase/gateway/gatewayAction.do?target=symbol&id=$id',
		'http://www.shigen.nig.ac.jp/rice/oryzabaseV4/devstageineachorgan/detail/$id',
		'http://www.shigen.nig.ac.jp/rice/oryzabaseV4/gene/detail/$id',
		'http://www.shigen.nig.ac.jp/rice/oryzabaseV4/strain/inducedMutationLine/detail/$id',
		'http://www.shigen.nig.ac.jp/rice/oryzabaseV4/strain/wildCore/detail/$id',
		'http://www.signaling-gateway.org/molecule/query?afcsid=$id',
		'http://www.snomedbrowser.com/Codes/Details/$id',
		'http://www.subtiwiki.uni-goettingen.de/wiki/index.php/$id',
		'http://www.t3db.org/toxins/$id',
		'http://www.tcdb.org/search/result.php?tc=$id',
		'http://www.transcriptionfactor.org/index.cgi?Search%2FDomain+domain%3A$id+cat%3ADBD',
		'http://www.treefam.org/family/$id',
		'http://www.ubio.org/browser/details.php?namebankID=$id',
		'http://www.umbbd.ethz.ch/servlets/rule.jsp?rule=$id',
		'http://www.unimod.org/modifications_view.php?editid1=$id',
		'http://www.uniprot.org/taxonomy/$id',
		'http://www.uniprot.org/tissues/$id',
		'http://www.uniprot.org/uniparc/$id',
		'http://www.uniprot.org/uniparc/?query=$id',
		'http://www.uniprot.org/uniprot/$id',
		'http://www.variationontology.org/cgi-bin/amivario/term-details.cgi?term=$id',
		'http://www.vbase2.org/vgene.php?id=$id',
		'http://www.viprbrc.org/brc/viprStrainDetails.do?strainName=$id&decorator=arena',
		'http://www.whocc.no/atc_ddd_index/?code=$id',
		'http://www.whocc.no/atcvet/atcvet_index/?code=$id',
		'http://www.wikigenes.org/e/gene/e/$id.html',
		'http://www.wikipathways.org/index.php/Pathway:$id',
		'http://www.wikipathways.org/instance/$id',
		'http://www.worldcat.org/isbn/$id',
		'http://www.wormbase.org/db/gene/gene?name=$id%3Bclass%3DGene',
		'http://www.wormbase.org/db/gene/gene?name=$id;class=Gene',
		'http://www.wormbase.org/db/seq/protein?name=$id',
		'http://www.wormbase.org/species/c_elegans/rnai/$id',
		'http://www.xenbase.org/gene/showgene.do?method=displayGeneSummary&geneId=$id',
		'http://www.yeastgenome.org/cgi-bin/locus.fpl?dbid=$id',
		'http://www.york.ac.uk/res/thomas/Gene.cfm?recordID=$id',
		'http://www4.wiwiss.fu-berlin.de/drugbank/resource/drugs/$id',
		'http://www4.wiwiss.fu-berlin.de/drugbank/resource/targets/$id',
		'http://www6.unito.it/cards/cgi-bin/carddisp.pl?gene=$id',
		'http://yeastrc.org/pdr/viewProtein.do?id=$id',
		'http://yetfasco.ccbr.utoronto.ca/showPFM.php?mot=$id',
		'http://zfin.org/action/genotype/show_all_expression?genoID=$id',
		'http://zfin.org/action/genotype/show_all_phenotype?zdbID=$id',
		'http://zfin.org/action/marker/view/$id',
		'https://db.systemsbiology.net/sbeams/cgi/PeptideAtlas/Summarize_Peptide?query=QUERY&searchForThis=$id',
		'https://orcid.org/$id',
		'https://www.affymetrix.com/LinkServlet?probeset=$id',
		'https://www.ebi.ac.uk/chembldb/index.php/compound/inspect/$id',
		'https://www.ebi.ac.uk/chembldb/index.php/target/inspect/$id',
		'https://www.vectorbase.org/search/site/$id?site=Genome');

		function loadAll(){
			list=document.getElementById('pattern');
			list.options.length=mitems.length;
			countAll=document.getElementById('countAll');
			countAll.innerHTML=mitems.length;
			for(var i=0;i<mitems.length;i++)
			{
				list.options[i].text=mitems[i];
				list.options[i].value=mitems[i];
			}
		}

		function populate(o)
		{
			list=document.getElementById('pattern');
			if(!list){return;}
			var allowed = new Array();
			if (o.value.length > 0){
				for(var i=0;i<mitems.length;i++)
				{
					if (mitems[i].indexOf(o.value) >= 0) {
						allowed.push(mitems[i]);
					}
				}
			} else {
				allowed = mitems;
			}

			list.options.length=allowed.length;
			countAll=document.getElementById('countAll');
			countAll.innerHTML=allowed.length;
			for(var i=0;i<allowed.length;i++)
			{
				list.options[i].text=allowed[i];
				list.options[i].value=allowed[i];
				list.options[i].selected = false;
			}
			count(list);
		}

		function count(list){
			var cnt = 0;
			for (var i = 0; i < list.options.length; i++) {
			    if (list.options[i].selected) {
			        cnt++;
			    }
			}
			l=document.getElementById('countSelected');
			l.innerHTML=cnt;
		}

		function pickAll(){
			list = document.getElementById('pattern');
			for (var i = 0; i < list.options.length; i++) {
			    list.options[i].selected = true;
			}
			count(list);
		}
